body
    color: #333

#query
    .command
        position: relative
    .presets
        position: absolute
        top: 5px
        right: 10px

#results
    tr:hover
        td { background: rgba(250,250,200,0.4) }
    td
        font-family: "Monaco", monospace
        font-size: 12px
        padding: 5px 10px
    .key
        color: #334
    .value
        border-left: 1px solid #ddd